project:
  name: "btc_direction_prediction"
  author: "Esteban Nabonne"

spark:
  master: "local[*]"
  shuffle_partitions: 8
  log_level: "WARN"

data:
  # On ne prend que le 1-min pour l’instant
  price_path: "data/prices/btcusd_1-min_data.csv"

  # Pas encore de dataset blockchain décodé => on désactive
  blockchain_path: null

  price_timestamp_col: "Timestamp"
  price_open_col: "Open"
  price_high_col: "High"
  price_low_col: "Low"
  price_close_col: "Close"
  price_volume_col: "Volume"

  timezone: "UTC"
  start_date: "2019-01-01"
  end_date: "2022-12-31"

  timestamp_is_unix: true 

etl:
  resample_freq: "1 hour"
  label_horizon_hours: 1

features:
  use_blockchain: false        # très important pour éviter le join sur un DF vide
  price_features:
    - "ret_1h"
    - "vol_1h"
    - "volatility_1h"
    - "high_low_ratio"
  blockchain_features:
    - "tx_count_hour"
    - "total_value_hour"


model:
  type: "logistic_regression"
  params:
    maxIter: 50
    regParam: 0.0
    elasticNetParam: 0.0

train:
  # End date of training period (inclusive)
  train_end_date: "2021-12-31"
  # Start date of testing period (inclusive)
  test_start_date: "2022-01-01"

output:
  metrics_csv: "output/metrics.csv"
  models_dir: "output/models"
  logs_dir: "output/logs"