project:
  name: "btc_direction_prediction"
  author: "Esteban Nabonne & Hadrien Dejonghe"
  

spark:
  master: "local[*]"
  shuffle_partitions: 8
  log_level: "WARN"

data:
  # Chemin vers le CSV des prix (2018-2025)
  price_path: "data/prices/btc_1h_data_2018_to_2025.csv"

  # Chemin vers les données Blockchain (Yahoo Proxy ou Parsed Blocks)
  blockchain_path: "data/blockchain/btc_blockchain_hourly_shifted.parquet"

  # Mappage des colonnes du CSV source
  price_timestamp_col: "Open time"
  price_open_col: "Open"
  price_high_col: "High"
  price_low_col: "Low"
  price_close_col: "Close"
  price_volume_col: "Volume"

  timezone: "UTC"
  timestamp_is_unix: false

  # Fenêtre globale du projet (Filtre les données hors de cette plage)
  # On inclut 2018 (Crash) pour l'entraînement et on arrête fin 2022 (Crash Test)
  start_date: "2018-01-01"
  end_date: "2022-12-31"

etl:
  resample_freq: "1 hour"
  # Horizon de prédiction : 1h (court terme)
  label_horizon_hours: 1

features:
  use_blockchain: true
  
  price_features:
    - "ret_1h"
    - "vol_1h"
    - "volatility_1h"
    - "high_low_ratio"
    - "ma_close_3h"
    - "ma_close_12h"
    
  blockchain_features:
    - "tx_count_hour"
    # - "total_value_hour"  # (Optionnel : décommenter si besoin)

label_col: "label_up"

model:
  type: random_forest
  params:
    numTrees: 150         # Nombre d'arbres (augmenté car dataset > 3 ans)
    maxDepth: 7           # Profondeur (augmentée pour capturer plus de nuances)
    seed: 42

train:
  # STRATÉGIE FINALE :
  # Entraînement sur 2018 (Baisse), 2019, 2020, 2021 (Hausse)
  train_end_date: "2021-12-31"
  
  # Test sur 2022 (Crash / Bear Market)
  test_start_date: "2022-01-01"

output:
  metrics_csv: "output/metrics.csv"
  models_dir: "output/models"
  logs_dir: "output/logs"